.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: var(--white);

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    column-gap: 24px;
    padding-bottom: 64px;

    .post {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      row-gap: 32px;

      .header {
        h1 {
          margin-bottom: 32px;
        }

        figure {
          width: 100%;
          aspect-ratio: 16/9;

          img {
            position: inherit !important;
          }
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }
    }
  }

  .lastPosts {
    background-color: var(--background-alternative);
  }

  .divider {
    background-color: var(--main);
    height: 56px;
  }
}
