.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px 100px;
  background-color: var(--white);

  .video {
    width: calc(100% + 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 32px;
    background-color: var(--background-alternative);
    padding: 200px;
    background-image: url('/images/background-2.jpg');
    background-blend-mode: soft-light;

    button {
      border: none;
      background-color: transparent;
      width: 80px;
      height: 80px;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: var(--white);
        }
      }
    }

    h1 {
      color: var(--white);
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.75);
      text-align: center;
    }
  }

  .depoiments {
    display: flex;
    background: linear-gradient(to top, var(--white) 50%, #f5f5f5 50%);
    min-height: 720px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -132px;

    .title {
      display: flex;
      background-color: var(--main);
      width: 25%;
      padding: 48px;
      row-gap: 16px;
      background-image: url(/images/background-3.png);
      background-blend-mode: soft-light;
      flex-direction: column;

      h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 2px;
        color: var(--white);
        text-transform: uppercase;
        font-style: normal;
      }

      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.5px;
        color: var(--white);
        text-transform: uppercase;
        font-style: normal;
      }
    }

    .depoimentContainer {
      display: flex;
      flex-direction: column;
      padding: 80px 80px 0px;
      width: 75%;
      height: 100%;
      row-gap: 64px;

      .depoimentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
          display: flex;
          column-gap: 16px;

          button {
            height: 52px;
          }
        }
      }

      .depoimentContent {
        overflow: hidden;
        padding: 24px 8px;

        .embla__container {
          display: flex;
        }

        .embla__slide {
          min-width: 50%;
          padding: 0 0.5rem;

          .depoiment {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            height: 100%;

            div {
              display: flex;
              column-gap: 8px;

              svg {
                width: 16px;
                height: 16px;

                path {
                  fill: #f08e21;
                }
              }
            }

            .depoimentText {
              position: relative;
              display: flex;
              flex-direction: column;
              font-weight: 500;
              font-style: normal;
              font-size: 16px;
              line-height: 32px;
              color: var(--background-alternative);
              row-gap: 8px;
              background-color: var(--white);
              padding: 32px;
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
              height: 100%;

              &::before {
                position: absolute;
                background-color: var(--main);
                content: '';
                top: -22px;
                right: 20px;
                border-radius: 50%;
                height: 50px;
                width: 50px;
              }

              &::after {
                position: absolute;
                content: '"';
                font-size: 80px;
                line-height: 80px;
                top: -22px;
                right: 30px;
                text-align: center;
                color: #fff;
                font-weight: 400;
                font-style: italic;
                width: 40px;
                height: 40px;
              }
            }
          }

          .depoimentFooter {
            display: flex;

            figure {
              width: 60px;
              height: 60px;

              img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
              }
            }

            .depoimentInfo {
              display: flex;
              flex-direction: column;
              justify-content: center;

              h4 {
                font-size: 18px;
                line-height: 28px;
                font-weight: 700;
                margin-bottom: 0;
                margin-top: 0;
                text-transform: uppercase;
              }

              p {
                line-height: normal;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
