.header {
  height: 100%;
  min-height: 520px;
  position: relative;
  text-align: center;
  color: white;
  position: relative;
  text-align: center;

  .text {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
    row-gap: 32px;

    h1 {
      color: var(--white);
      font-size: 42px;
      line-height: 60px;
      letter-spacing: 0;
      text-transform: none;
      font-style: normal;
      text-align: left;
    }

    h2 {
      color: var(--white);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-style: normal;
      text-align: left;
    }
  }

  figure {
    padding: 0px;
    margin: 0px;

    img {
      filter: brightness(0.5);
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    .text {
      left: 40%;
    }
  }
}
