.footer {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    column-gap: 32px;

    .column {
      display: flex;
      flex-direction: column;
      column-gap: 16px;
      flex: 1;

      h3 {
        color: var(--white);
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0;
        text-transform: none;
        font-style: normal;
        margin-bottom: 40px;
      }

      p {
        color: var(--white);
        font-size: 16px;
        font-weight: 400;

        display: flex;
        align-items: center;

        transition: 0.3s ease;

        svg {
          margin-right: 8px;

          path {
            fill: var(--white);
            transition: 0.3s ease;
          }
        }
      }

      .option {
        cursor: pointer;

        &:hover {
          color: var(--main);

          svg {
            path {
              fill: var(--main);
            }
          }
        }
      }

      figure {
        position: relative;

        img {
          position: relative !important;
          object-fit: contain;
        }
      }

      .contact {
        display: flex;
        align-items: center;
        column-gap: 8px;

        svg {
          path {
            fill: var(--main) !important;
          }
        }
      }

      .address {
        display: flex;
        align-items: center;
        column-gap: 8px;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px 100px;
    background-color: var(--main);

    p {
      color: var(--white);
      font-size: 16px;
      font-weight: 400;
    }

    figure {
      position: relative;
      height: 55px;

      img {
        position: relative !important;
        width: auto !important;
        object-fit: contain;
      }
    }

    .socialMedia {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      column-gap: 16px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        background-color: rgba(255, 255, 255, 0.3);
        transition: 0.3s ease;

        svg {
          font-size: 16px;

          path {
            fill: var(--white) !important;
            transition: 0.3s ease;
          }
        }

        &:hover {
          background-color: var(--white);

          svg {
            path {
              fill: var(--main) !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 32px !important;
    flex-direction: column;
    row-gap: 32px;
  }

  .bottom {
    flex-direction: column;
    width: 100%;
    padding: 32px !important;
    row-gap: 32px;
    text-align: center;
  }
}
