.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: var(--white);

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    column-gap: 24px;
  }
}
