.posts {
  width: 40%;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .post {
    figure {
      width: 100%;
      aspect-ratio: 16/9;

      img {
        position: inherit !important;
      }
    }

    .text {
      border: 1px solid #ebebeb;
      margin-top: -10px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      .info {
        display: flex;
        column-gap: 16px;

        span {
          font-size: 12px;
          text-transform: uppercase;
          color: #8e99ad;
          letter-spacing: 1.5px;
          font-weight: 500;
        }
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a {
        color: var(--main);
        font-size: 16px;
        line-height: 23px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover {
          color: var(--text);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .posts {
    width: 90%;
  }
}
